/* BREAKPOINT TABLET */
@media (max-width: 1024px) {

.flex-tablet {
	display: flex;
}
.flex-1-tablet {
	flex: 1 1 0% !important;
}
.flex-auto-tablet {
	flex: 1 1 auto !important;
}
.flex-initial-tablet {
	flex: 0 1 auto !important;
}
.flex-none-tablet {
	flex: none !important;
}

.row-tablet {
	flex-direction: row !important;
}
.row-reverse-tablet {
	flex-direction: row-reverse !important;
}

.column-tablet {
	flex-direction: column !important;
}
.column-reverse-tablet {
	flex-direction: column-reverse !important;
}

.wrap-tablet {
	flex-wrap: wrap !important;
}
.wrap-reverse-tablet {
	flex-wrap: wrap-reverse !important;
}
.nowrap-tablet {
	flex-wrap: nowrap !important;
}

.grow-tablet {
	flex-grow: 1 !important;
}
.grow-0-tablet {
	flex-grow: 0 !important;
}

.shrink-tablet {
	flex-shrink: 1 !important;
}
.shrink-0-tablet {
	flex-shrink: 0 !important;
}

.justify-normal-tablet {
	justify-content: normal !important;
}
.justify-start-tablet {
	justify-content: flex-start !important;
}
.justify-end-tablet {
	justify-content: flex-end !important;
}
.justify-center-tablet {
	justify-content: center !important;
}
.justify-between-tablet {
	justify-content: space-between !important;
}
.justify-around-tablet {
	justify-content: space-around !important;
}
.justify-evenly-tablet {
	justify-content: space-evenly !important;
}
.justify-stretch-tablet {
	justify-content: stretch !important;
}

.justify-items-start-tablet {
	justify-items: start !important;
}
.justify-items-end-tablet {
	justify-items: end !important;
}
.justify-items-center-tablet {
	justify-items: center !important;
}
.justify-items-stretch-tablet {
	justify-items: stretch !important;
}


.justify-self-auto-tablet {
	justify-self: auto !important;
}
.justify-self-start-tablet {
	justify-self: start !important;
}
.justify-self-end-tablet {
	justify-self: end !important;
}
.justify-self-center-tablet {
	justify-self: center !important;
}
.justify-self-stretch-tablet {
	justify-self: stretch !important;
}

.content-normal-tablet {
	align-content: normal !important;
}
.content-center-tablet {
	align-content: center !important;
}
.content-start-tablet {
	align-content: flex-start !important;
}
.content-end-tablet {
	align-content: flex-end !important;
}
.content-between-tablet {
	align-content: space-between !important;
}
.content-around-tablet {
	align-content: space-around !important;
}
.content-evenly-tablet {
	align-content: space-evenly !important;
}
.content-baseline-tablet {
	align-content: baseline !important;
}
.content-stretch-tablet {
	align-content: stretch !important;
}

.items-start-tablet {
	align-items: flex-start !important;
}
.items-end-tablet {
	align-items: flex-end !important;
}
.items-center-tablet {
	align-items: center !important;
}
.items-baseline-tablet {
	align-items: baseline !important;
}
.items-stretch-tablet {
	align-items: stretch !important;
}

.self-auto-tablet {
	align-self: auto !important;
}
.self-start-tablet {
	align-self: flex-start !important;
}
.self-end-tablet {
	align-self: flex-end !important;
}
.self-center-tablet {
	align-self: center !important;
}
.self-stretch-tablet {
	align-self: stretch !important;
}
.self-baseline-tablet {
	align-self: baseline !important;
}

.place-content-center-tablet {
	place-content: center !important;
}
.place-content-start-tablet {
	place-content: start !important;
}
.place-content-end-tablet {
	place-content: end !important;
}
.place-content-between-tablet {
	place-content: space-between !important;
}
.place-content-around-tablet {
	place-content: space-around !important;
}
.place-content-evenly-tablet {
	place-content: space-evenly !important;
}
.place-content-baseline-tablet {
	place-content: baseline !important;
}
.place-content-stretch-tablet {
	place-content: stretch !important;
}

.place-items-start-tablet {
	place-items: start !important;
}
.place-items-end-tablet {
	place-items: end !important;
}
.place-items-center-tablet {
	place-items: center !important;
}
.place-items-baseline-tablet {
	place-items: baseline !important;
}
.place-items-stretch-tablet {
	place-items: stretch !important;
}

.place-self-auto-tablet {
	place-self: auto !important;
}
.place-self-start-tablet {
	place-self: start !important;
}
.place-self-end-tablet {
	place-self: end !important;
}
.place-self-center-tablet {
	place-self: center !important;
}
.place-self-stretch-tablet {
	place-self: stretch !important;
}

.width-0-tablet { width: 0 !important; }
.width-1-tablet { width: 1% !important; }
.width-2-tablet { width: 2% !important; }
.width-3-tablet { width: 3% !important; }
.width-4-tablet { width: 4% !important; }
.width-5-tablet { width: 5% !important; }
.width-6-tablet { width: 6% !important; }
.width-7-tablet { width: 7% !important; }
.width-8-tablet { width: 8% !important; }
.width-9-tablet { width: 9% !important; }
.width-10-tablet { width: 10% !important; }
.width-11-tablet { width: 11% !important; }
.width-12-tablet { width: 12% !important; }
.width-13-tablet { width: 13% !important; }
.width-14-tablet { width: 14% !important; }
.width-15-tablet { width: 15% !important; }
.width-16-tablet { width: 16% !important; }
.width-17-tablet { width: 17% !important; }
.width-18-tablet { width: 18% !important; }
.width-19-tablet { width: 19% !important; }
.width-20-tablet { width: 20% !important; }
.width-21-tablet { width: 21% !important; }
.width-22-tablet { width: 22% !important; }
.width-23-tablet { width: 23% !important; }
.width-24-tablet { width: 24% !important; }
.width-25-tablet { width: 25% !important; }
.width-26-tablet { width: 26% !important; }
.width-27-tablet { width: 27% !important; }
.width-28-tablet { width: 28% !important; }
.width-29-tablet { width: 29% !important; }
.width-30-tablet { width: 30% !important; }
.width-31-tablet { width: 31% !important; }
.width-32-tablet { width: 32% !important; }
.width-33-tablet { width: 33% !important; }
.width-34-tablet { width: 34% !important; }
.width-35-tablet { width: 35% !important; }
.width-36-tablet { width: 36% !important; }
.width-37-tablet { width: 37% !important; }
.width-38-tablet { width: 38% !important; }
.width-39-tablet { width: 39% !important; }
.width-40-tablet { width: 40% !important; }
.width-41-tablet { width: 41% !important; }
.width-42-tablet { width: 42% !important; }
.width-43-tablet { width: 43% !important; }
.width-44-tablet { width: 44% !important; }
.width-45-tablet { width: 45% !important; }
.width-46-tablet { width: 46% !important; }
.width-47-tablet { width: 47% !important; }
.width-48-tablet { width: 48% !important; }
.width-49-tablet { width: 49% !important; }
.width-50-tablet { width: 50% !important; }
.width-51-tablet { width: 51% !important; }
.width-52-tablet { width: 52% !important; }
.width-53-tablet { width: 53% !important; }
.width-54-tablet { width: 54% !important; }
.width-55-tablet { width: 55% !important; }
.width-56-tablet { width: 56% !important; }
.width-57-tablet { width: 57% !important; }
.width-58-tablet { width: 58% !important; }
.width-59-tablet { width: 59% !important; }
.width-60-tablet { width: 60% !important; }
.width-61-tablet { width: 61% !important; }
.width-62-tablet { width: 62% !important; }
.width-63-tablet { width: 63% !important; }
.width-64-tablet { width: 64% !important; }
.width-65-tablet { width: 65% !important; }
.width-66-tablet { width: 66% !important; }
.width-67-tablet { width: 67% !important; }
.width-68-tablet { width: 68% !important; }
.width-69-tablet { width: 69% !important; }
.width-70-tablet { width: 70% !important; }
.width-71-tablet { width: 71% !important; }
.width-72-tablet { width: 72% !important; }
.width-73-tablet { width: 73% !important; }
.width-74-tablet { width: 74% !important; }
.width-75-tablet { width: 75% !important; }
.width-76-tablet { width: 76% !important; }
.width-77-tablet { width: 77% !important; }
.width-78-tablet { width: 78% !important; }
.width-79-tablet { width: 79% !important; }
.width-80-tablet { width: 80% !important; }
.width-81-tablet { width: 81% !important; }
.width-82-tablet { width: 82% !important; }
.width-83-tablet { width: 83% !important; }
.width-84-tablet { width: 84% !important; }
.width-85-tablet { width: 85% !important; }
.width-86-tablet { width: 86% !important; }
.width-87-tablet { width: 87% !important; }
.width-88-tablet { width: 88% !important; }
.width-89-tablet { width: 89% !important; }
.width-90-tablet { width: 90% !important; }
.width-91-tablet { width: 91% !important; }
.width-92-tablet { width: 92% !important; }
.width-93-tablet { width: 93% !important; }
.width-94-tablet { width: 94% !important; }
.width-95-tablet { width: 95% !important; }
.width-96-tablet { width: 96% !important; }
.width-97-tablet { width: 97% !important; }
.width-98-tablet { width: 98% !important; }
.width-99-tablet { width: 99% !important; }
.width-100-tablet { width: 100% !important; }

.width-auto-tablet { width: auto !important; }

.quarter-tablet { width: 25% !important; }
.half-tablet { width: 50% !important; }
.three-quarters-tablet { width: 75% !important; }
.full-tablet { width: 100% !important; }

.height-0-tablet { height: 0 !important; }
.height-1-tablet { height: 1% !important; }
.height-2-tablet { height: 2% !important; }
.height-3-tablet { height: 3% !important; }
.height-4-tablet { height: 4% !important; }
.height-5-tablet { height: 5% !important; }
.height-6-tablet { height: 6% !important; }
.height-7-tablet { height: 7% !important; }
.height-8-tablet { height: 8% !important; }
.height-9-tablet { height: 9% !important; }
.height-10-tablet { height: 10% !important; }
.height-11-tablet { height: 11% !important; }
.height-12-tablet { height: 12% !important; }
.height-13-tablet { height: 13% !important; }
.height-14-tablet { height: 14% !important; }
.height-15-tablet { height: 15% !important; }
.height-16-tablet { height: 16% !important; }
.height-17-tablet { height: 17% !important; }
.height-18-tablet { height: 18% !important; }
.height-19-tablet { height: 19% !important; }
.height-20-tablet { height: 20% !important; }
.height-21-tablet { height: 21% !important; }
.height-22-tablet { height: 22% !important; }
.height-23-tablet { height: 23% !important; }
.height-24-tablet { height: 24% !important; }
.height-25-tablet { height: 25% !important; }
.height-26-tablet { height: 26% !important; }
.height-27-tablet { height: 27% !important; }
.height-28-tablet { height: 28% !important; }
.height-29-tablet { height: 29% !important; }
.height-30-tablet { height: 30% !important; }
.height-31-tablet { height: 31% !important; }
.height-32-tablet { height: 32% !important; }
.height-33-tablet { height: 33% !important; }
.height-34-tablet { height: 34% !important; }
.height-35-tablet { height: 35% !important; }
.height-36-tablet { height: 36% !important; }
.height-37-tablet { height: 37% !important; }
.height-38-tablet { height: 38% !important; }
.height-39-tablet { height: 39% !important; }
.height-40-tablet { height: 40% !important; }
.height-41-tablet { height: 41% !important; }
.height-42-tablet { height: 42% !important; }
.height-43-tablet { height: 43% !important; }
.height-44-tablet { height: 44% !important; }
.height-45-tablet { height: 45% !important; }
.height-46-tablet { height: 46% !important; }
.height-47-tablet { height: 47% !important; }
.height-48-tablet { height: 48% !important; }
.height-49-tablet { height: 49% !important; }
.height-50-tablet { height: 50% !important; }
.height-51-tablet { height: 51% !important; }
.height-52-tablet { height: 52% !important; }
.height-53-tablet { height: 53% !important; }
.height-54-tablet { height: 54% !important; }
.height-55-tablet { height: 55% !important; }
.height-56-tablet { height: 56% !important; }
.height-57-tablet { height: 57% !important; }
.height-58-tablet { height: 58% !important; }
.height-59-tablet { height: 59% !important; }
.height-60-tablet { height: 60% !important; }
.height-61-tablet { height: 61% !important; }
.height-62-tablet { height: 62% !important; }
.height-63-tablet { height: 63% !important; }
.height-64-tablet { height: 64% !important; }
.height-65-tablet { height: 65% !important; }
.height-66-tablet { height: 66% !important; }
.height-67-tablet { height: 67% !important; }
.height-68-tablet { height: 68% !important; }
.height-69-tablet { height: 69% !important; }
.height-70-tablet { height: 70% !important; }
.height-71-tablet { height: 71% !important; }
.height-72-tablet { height: 72% !important; }
.height-73-tablet { height: 73% !important; }
.height-74-tablet { height: 74% !important; }
.height-75-tablet { height: 75% !important; }
.height-76-tablet { height: 76% !important; }
.height-77-tablet { height: 77% !important; }
.height-78-tablet { height: 78% !important; }
.height-79-tablet { height: 79% !important; }
.height-80-tablet { height: 80% !important; }
.height-81-tablet { height: 81% !important; }
.height-82-tablet { height: 82% !important; }
.height-83-tablet { height: 83% !important; }
.height-84-tablet { height: 84% !important; }
.height-85-tablet { height: 85% !important; }
.height-86-tablet { height: 86% !important; }
.height-87-tablet { height: 87% !important; }
.height-88-tablet { height: 88% !important; }
.height-89-tablet { height: 89% !important; }
.height-90-tablet { height: 90% !important; }
.height-91-tablet { height: 91% !important; }
.height-92-tablet { height: 92% !important; }
.height-93-tablet { height: 93% !important; }
.height-94-tablet { height: 94% !important; }
.height-95-tablet { height: 95% !important; }
.height-96-tablet { height: 96% !important; }
.height-97-tablet { height: 97% !important; }
.height-98-tablet { height: 98% !important; }
.height-99-tablet { height: 99% !important; }
.height-100-tablet { height: 100% !important; }

.height-auto-tablet { height: auto !important; }

.height-quarter-tablet { height: 25% !important; }
.height-half-tablet { height: 50% !important; }
.height-three-quarters-tablet { height: 75% !important; }
.height-full-tablet { height: 100% !important; }

.height-0vh-tablet { height: 0dvh !important; }
.height-1vh-tablet { height: 1dvh !important; }
.height-2vh-tablet { height: 2dvh !important; }
.height-3vh-tablet { height: 3dvh !important; }
.height-4vh-tablet { height: 4dvh !important; }
.height-5vh-tablet { height: 5dvh !important; }
.height-6vh-tablet { height: 6dvh !important; }
.height-7vh-tablet { height: 7dvh !important; }
.height-8vh-tablet { height: 8dvh !important; }
.height-9vh-tablet { height: 9dvh !important; }
.height-10vh-tablet { height: 10dvh !important; }
.height-11vh-tablet { height: 11dvh !important; }
.height-12vh-tablet { height: 12dvh !important; }
.height-13vh-tablet { height: 13dvh !important; }
.height-14vh-tablet { height: 14dvh !important; }
.height-15vh-tablet { height: 15dvh !important; }
.height-16vh-tablet { height: 16dvh !important; }
.height-17vh-tablet { height: 17dvh !important; }
.height-18vh-tablet { height: 18dvh !important; }
.height-19vh-tablet { height: 19dvh !important; }
.height-20vh-tablet { height: 20dvh !important; }
.height-21vh-tablet { height: 21dvh !important; }
.height-22vh-tablet { height: 22dvh !important; }
.height-23vh-tablet { height: 23dvh !important; }
.height-24vh-tablet { height: 24dvh !important; }
.height-25vh-tablet { height: 25dvh !important; }
.height-26vh-tablet { height: 26dvh !important; }
.height-27vh-tablet { height: 27dvh !important; }
.height-28vh-tablet { height: 28dvh !important; }
.height-29vh-tablet { height: 29dvh !important; }
.height-30vh-tablet { height: 30dvh !important; }
.height-31vh-tablet { height: 31dvh !important; }
.height-32vh-tablet { height: 32dvh !important; }
.height-33vh-tablet { height: 33dvh !important; }
.height-34vh-tablet { height: 34dvh !important; }
.height-35vh-tablet { height: 35dvh !important; }
.height-36vh-tablet { height: 36dvh !important; }
.height-37vh-tablet { height: 37dvh !important; }
.height-38vh-tablet { height: 38dvh !important; }
.height-39vh-tablet { height: 39dvh !important; }
.height-40vh-tablet { height: 40dvh !important; }
.height-41vh-tablet { height: 41dvh !important; }
.height-42vh-tablet { height: 42dvh !important; }
.height-43vh-tablet { height: 43dvh !important; }
.height-44vh-tablet { height: 44dvh !important; }
.height-45vh-tablet { height: 45dvh !important; }
.height-46vh-tablet { height: 46dvh !important; }
.height-47vh-tablet { height: 47dvh !important; }
.height-48vh-tablet { height: 48dvh !important; }
.height-49vh-tablet { height: 49dvh !important; }
.height-50vh-tablet { height: 50dvh !important; }
.height-51vh-tablet { height: 51dvh !important; }
.height-52vh-tablet { height: 52dvh !important; }
.height-53vh-tablet { height: 53dvh !important; }
.height-54vh-tablet { height: 54dvh !important; }
.height-55vh-tablet { height: 55dvh !important; }
.height-56vh-tablet { height: 56dvh !important; }
.height-57vh-tablet { height: 57dvh !important; }
.height-58vh-tablet { height: 58dvh !important; }
.height-59vh-tablet { height: 59dvh !important; }
.height-60vh-tablet { height: 60dvh !important; }
.height-61vh-tablet { height: 61dvh !important; }
.height-62vh-tablet { height: 62dvh !important; }
.height-63vh-tablet { height: 63dvh !important; }
.height-64vh-tablet { height: 64dvh !important; }
.height-65vh-tablet { height: 65dvh !important; }
.height-66vh-tablet { height: 66dvh !important; }
.height-67vh-tablet { height: 67dvh !important; }
.height-68vh-tablet { height: 68dvh !important; }
.height-69vh-tablet { height: 69dvh !important; }
.height-70vh-tablet { height: 70dvh !important; }
.height-71vh-tablet { height: 71dvh !important; }
.height-72vh-tablet { height: 72dvh !important; }
.height-73vh-tablet { height: 73dvh !important; }
.height-74vh-tablet { height: 74dvh !important; }
.height-75vh-tablet { height: 75dvh !important; }
.height-76vh-tablet { height: 76dvh !important; }
.height-77vh-tablet { height: 77dvh !important; }
.height-78vh-tablet { height: 78dvh !important; }
.height-79vh-tablet { height: 79dvh !important; }
.height-80vh-tablet { height: 80dvh !important; }
.height-81vh-tablet { height: 81dvh !important; }
.height-82vh-tablet { height: 82dvh !important; }
.height-83vh-tablet { height: 83dvh !important; }
.height-84vh-tablet { height: 84dvh !important; }
.height-85vh-tablet { height: 85dvh !important; }
.height-86vh-tablet { height: 86dvh !important; }
.height-87vh-tablet { height: 87dvh !important; }
.height-88vh-tablet { height: 88dvh !important; }
.height-89vh-tablet { height: 89dvh !important; }
.height-90vh-tablet { height: 90dvh !important; }
.height-91vh-tablet { height: 91dvh !important; }
.height-92vh-tablet { height: 92dvh !important; }
.height-93vh-tablet { height: 93dvh !important; }
.height-94vh-tablet { height: 94dvh !important; }
.height-95vh-tablet { height: 95dvh !important; }
.height-96vh-tablet { height: 96dvh !important; }
.height-97vh-tablet { height: 97dvh !important; }
.height-98vh-tablet { height: 98dvh !important; }
.height-99vh-tablet { height: 99dvh !important; }
.height-100vh-tablet { height: 100dvh !important; }

.ratio-1-1-tablet		{ 	aspect-ratio: 1 / 1 !important		;	}

.ratio-3-2-tablet		{ 	aspect-ratio: 3 / 2 !important		;	}
.ratio-4-3-tablet		{ 	aspect-ratio: 4 / 3 !important		;	}
.ratio-5-4-tablet		{ 	aspect-ratio: 5 / 4 !important		;	}
.ratio-16-9-tablet		{ 	aspect-ratio: 16 / 9 !important		;	}
.ratio-16-10-tablet		{ 	aspect-ratio: 16 / 10 !important	;	}

.ratio-2-3-tablet		{ 	aspect-ratio: 2 / 3 !important		;	}
.ratio-3-4-tablet		{ 	aspect-ratio: 3 / 4 !important		;	}
.ratio-4-5-tablet		{ 	aspect-ratio: 4 / 5 !important		;	}
.ratio-9-16-tablet		{ 	aspect-ratio: 9 / 16 !important		;	}
.ratio-10-16-tablet		{ 	aspect-ratio: 10 / 16 !important	;	}

}